<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-3">
        <div class="container-fluid ms-5">
          <a class="navbar-brand" href="/api/reportdefinition/reportdetailspage"> <b>Rapor Detayları</b> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto ms-3">
              <li class="nav-item ms-3">
                <a class="nav-link" href="/api/reportdefinition/reportdetailspage">AnaSayfa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/api/reportdefinition/reportdetailspage">Çıkış Yap</a>
              </li>
            </ul>
            
            <form class="d-flex" method="get" th:action="@{/api/reportdefinition/reportdetailspage}">
		      <input class="form-control me-2" type="text" placeholder="Arama" name="keyword">
		      <button class="btn btn-primary" type="submit">Ara</button>
		    </form>
		    
          </div>
        </div>
      </nav>
      
      <div th:fragment="logout" class="logout text-center mt-3">
             <strong>Logged user:</strong> <span sec:authentication="name" class="text-danger h6"></span> |
             <strong>Roles:</strong> <span sec:authentication="principal.authorities" class="text-danger h6"></span> |
            <!--/* When using CSRF this needs to be a POST */-->
            <form th:action="@{/api/reportdefinition/reportdetailspage}" method="post" style="display:inline"><input type="submit" value="Logout" class="btn btn-danger btn-sm"/></form>
        </div>
      
	<div th:if="${message}" class="alert alert-success text-center mt-3">
		[[${message}]]
	</div>
	<div th:if="${deleteMessage}" class="alert alert-danger text-center mt-3">
		[[${deleteMessage}]]
	</div>
	
    <div class="p-3">
       <div class="container">
         <div>
             <h2 class="mb-3">Tüm Raporlar</h2>
             <a href="/api/reportdefinition/reportdetailspage/createreport"  class="btn btn-primary mb-3 w-25 float-end">Rapor Ekle</a> 
             <table class="table table-secondary table-striped">
               <thead>
                 <tr>
                   <th>No</th>
                   <th>Laborant Adı</th>
                   <th>Hasta Adı</th>
                   <th>Tc No</th>
                   <th>Rapor Başlığı</th>
                   <th>ID</th>
                   <th>Düzenle</th>
                   <th>Detaylar</th>
                   
                 </tr>
               </thead>
               <tbody>
                 <tr th:each="x,iterator : ${getalls}">
                   <td th:text="${iterator.index} + 1"></td>
                   <td th:text="${x.laborant.fullName}"></td>
                   <td th:text="${x.patient.fullName}"></td>
                   <td th:text="${x.patient.patientTc}"></td>
                   <td th:text="${x.diagnosisTitle}"></td>
                   <td th:text="${x.id}"></td>
                   <td>
                     <a class="btn btn-success form-control" th:href="@{'/api/reportdefinition/reportdetailspage/editreport/' + ${x.id}}">Düzenle</a> 
                   </td>
                   <td>
                     <a class="btn btn-danger form-control" th:href="@{'/api/reportdefinition/reportdetailspage/deletereport/' + ${x.id}}">Sil</a> 
                   </td>
                 </tr>
               </tbody>
             </table>
           </div>
       </div>
    </div>
    
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>